body{
margin:0;
font-family:Arial, sans-serif;
background:radial-gradient(circle at top,#1a1a3d,#000);
color:white;
text-align:center;
overflow-x:hidden;
}

header{
padding:40px 20px;
}

h1{
font-size:3rem;
color:#8f94fb;
}

.subtitle{
color:#ccc;
}

#search{
padding:10px;
width:250px;
border-radius:8px;
border:none;
margin-bottom:30px;
}

.planet-container{
display:flex;
justify-content:center;
flex-wrap:wrap;
gap:20px;
padding:20px;
}

.planet-card{
background:rgba(255,255,255,0.05);
padding:25px;
width:180px;
border-radius:15px;
cursor:pointer;
transition:0.3s;
border:1px solid #8f94fb;
box-shadow:0 0 15px rgba(143,148,251,0.3);
}

.planet-card:hover{
transform:scale(1.1);
background:rgba(143,148,251,0.2);
}

.planet-card img{
width:100px;
height:100px;
object-fit:contain;
margin-bottom:10px;
transition:0.3s;
}

.planet-card:hover img{
transform:scale(1.2) rotate(5deg);
}

.info-box{
display:none;
position:fixed;
top:30%;
left:50%;
transform:translate(-50%,-30%) scale(0.8);
background:#111;
padding:20px;
border-radius:10px;
border:1px solid #8f94fb;
width:300px;
transition:0.3s;
}

.close-btn{
cursor:pointer;
float:right;
}

@media(max-width:600px){

.planet-container{
flex-direction:column;
align-items:center;
}

.planet-card{
width:80%;
}

}
